In [59]:
import os
import sys
import json
import pickle
import numpy as np
import pandas as pd
from tqdm.auto import tqdm

In [64]:
file = open('../data/filtered_data.pickle', 'rb')
data = pickle.load(file)
file.close()

data.head(1)

,id,submitter,authors,title,comments,journal-ref,doi,report-no,categories,license,abstract,versions,update_date,authors_parsed,cat_freq,journal_freq,date_freq
19,704.002,Patrick Roudeau,"The BABAR Collaboration, B. Aubert, et al",Measurement of the Hadronic Form Factor in D0 ...,"21 pages, 13 postscript figures, submitted to ...","Phys.Rev.D76:052005,2007",10.1103/PhysRevD.76.052005,"BABAR-PUB-07/015, SLAC-PUB-12417",hep-ex,None,The shape of the hadronic form factor f+(q2)...,"[{'version': 'v1', 'created': 'Sat, 31 Mar 200...",2015-06-30,"[[The BABAR Collaboration, , ], [Aubert, B., ]]",17311,2.0,536

In [65]:
df = pd.read_csv("../data/CNN_Articels_clean.csv")

In [66]:
len(df)

37949

In [17]:
df.head(2)

,Index,Author,Date published,Category,Section,Url,Headline,Description,Keywords,Second headline,Article text
0,0,"Jacopo Prisco, CNN",2021-07-15 02:46:59,news,world,https://www.cnn.com/2021/07/14/world/tusimple-...,"There's a shortage of truckers, but TuSimple t...",The e-commerce boom has exacerbated a global t...,"world, There's a shortage of truckers, but TuS...","There's a shortage of truckers, but TuSimple t...","(CNN)Right now, there's a shortage of truck d..."
1,1,"Stephanie Bailey, CNN",2021-05-12 07:52:09,news,world,https://www.cnn.com/2021/05/12/world/ironhand-...,Bioservo's robotic 'Ironhand' could protect fa...,Working in a factory can mean doing the same t...,"world, Bioservo's robotic 'Ironhand' could pro...",A robotic 'Ironhand' could protect factory wor...,(CNN)Working in a factory or warehouse can me...

In [50]:
# TODO NEED Updates
def parse_keywords(key_str, exclude_k=[]):
    key_list = []
    parse_by_comma = key_str.split(", ")
    # skip last val, it is a headline + "CNN"
    for k in parse_by_comma[:-1]:
        if k in exclude_k: continue
        key_list.append()

def parse_authors(author_str):
    '''
    This function parses the authors string into a list of authors

    args: 
        - author_str: string of authors
    return: list of authors
    '''
    authors = []
    author_str = author_str.lower()
    # remove noises
    author_str = author_str.replace(" ", "")
    author_str = author_str.replace("\n", "")
    parse_by_comma = author_str.split(',')
    for i, a in enumerate(parse_by_comma):
        if 'by' in a:
            a = a.split('by')[-1]
        # parse by 'and'
        authors.extend(a.split(' and '))
    return authors

In [94]:
a = [1,2,3,4,5]
for v in a[:-1]: print(v)

1
2
3
4

In [72]:
max_c = 10
counter = 0
authors_lists = []
for index, row in df.iterrows():
    authors = parse_authors(row['Author'])
    # print(authors)
    counter+=1
    # if counter==max_c: break
    authors_lists.append(authors)

In [79]:
for a in authors_lists:
    if len(a) > 6:
        print(a)

['jackguy', 'timlister', 'olgavoitovych', 'paulp.murphy', 'gianlucamezzofiore', 'celinealkhaldiandkatiepolglase', 'cnn']
['michelletoh', 'junkoogura', 'hirahumayun', 'isaacyee', 'ericcheung', 'samfossumandramishahmaruf', 'cnn']
['kevinliptak', 'samfossum', 'arlettesaenz', 'timlister', 'paulmurphy', 'ivanakottasováandannachernova', 'cnn']
['janieboschma', 'danielwolfe', 'priyakrishnakumar', 'christopherhickey', 'meghnamaharishi', 'renéerigdon', 'johnkeefeanddavidwright', 'cnn']
['bethlehemfeleke', 'elizamackintosh', 'gianlucamezzofiore', 'katiepolglase', 'nimaelbagir', 'barbaraarvanitidisandalexplatt', 'cnn']
['bethlehemfeleke', 'elizamackintosh', 'gianlucamezzofiore', 'katiepolglase', 'nimaelbagir', 'barbaraarvanitidisandalexplatt', 'cnn']
['bradparks', 'kevinconlon', 'rosaflores', 'davidshortell', 'saraweisfeldt', 'meridithedwards', 'jaidetimm-garcia', 'jasonkravarik', 'miguelmarquez', 'billkirkosandeliottc.mclaughlin', 'cnn']
['ivanakottasová', 'olgavoitovich', 'paulp.murphy', 'antoniamortensen', 'clareforan', 'niamhkennedyandjeevanravindran', 'cnn']
['nickpatonwalsh', 'sandisidhu', 'juliahollingsworth', 'masoudpopalzai', 'sitarazamani', 'abdulbasirbina', 'katiepolglaseandgianlucamezzofiore', 'cnn']
['kevinconlon', 'polosandoval', 'leighwaldman', 'christopherlett', 'emanuellagrinberg', 'eddankoandnickvalencia', 'cnn']
['evanmcmorris-santoro', 'leylasantiago', 'mallorysimon', 'linhtran', 'amarawalker', 'pamelakirklandandsaraweisfeldt', 'cnn']
['laurensaid-moorhouse', 'bryonyjones', 'judithvonberg', 'lukemcgee', 'biancabritton', 'davegilbertandaimeelewis', 'cnn']
['miaalberti', 'sharonbraithwaite', 'niamhkennedy', 'katyakrebs', 'amycassidy', 'saragill', 'antoniamortensen', 'chrisliakosandsusannegargiulo', 'cnn']

In [87]:
cat_stats = dict(df['Category'].value_counts())
sec_stats = dict(df['Section'].value_counts())

In [90]:
df['Keywords'].value_counts()

Keywords
app-news-section, Must-watch videos of the week - CNN                                     14
europe, Latest developments in the royal baby watch - CNN                                  6
europe, Jeremy Clarkson suspended by the BBC - CNN                                         3
salah abdeslam, paris, terrorism, europe, Paris attacks: What you need to know - CNN       3
europe, UK election Jeremy Corbyn profile  - CNN                                           2
                                                                                          ..
football, Late drama as Boca, Corinthians reach Copa semis - CNN                           1
europe, Crown Jewels sparkle in major new exhibition for Diamond Jubilee - CNN             1
football, Goal-line technology to be tested during England friendly - CNN                  1
europe, Lawyer: Norwegian killer vows not to appeal guilty verdict if found sane - CNN     1
europe, Independence campaign for Scotland launched - CNN                                  1
Name: count, Length: 37863, dtype: int64

In [91]:
unique_ks = np.unique(df['Section'])

array(['africa', 'americas', 'app-news-section', 'app-politics-section',
       'app-tech-section', 'asia', 'australia', 'business',
       'business-food', 'business-india', 'business-money', 'cars',
       'celebrities', 'china', 'cnn10', 'economy', 'energy',
       'entertainment', 'equestrian', 'europe', 'fashion', 'foodanddrink',
       'football', 'golf', 'health', 'homes', 'horseracing', 'india',
       'intl_business', 'intl_world', 'investing', 'justice', 'living',
       'media', 'middleeast', 'motorsport', 'movies', 'opinion',
       'opinions', 'perspectives', 'politics', 'sailing', 'showbiz',
       'skiing', 'sport', 'success', 'tech', 'tennis', 'travel', 'uk',
       'us', 'vr', 'weather', 'world', 'worldsport'], dtype=object)