In [30]:
import os
import pandas as pd
from pathlib import Path
from datetime import datetime

In [31]:
file_path = "../data/filtered_data.pickle"

file_stats = os.stat(file_path)

In [3]:
file_stats

os.stat_result(st_mode=33204, st_ino=30521395, st_dev=64770, st_nlink=1, st_uid=26388, st_gid=3944, st_size=22440040, st_atime=1703833106, st_mtime=1703540622, st_ctime=1703540622)

In [4]:
# Access the last modified timestamp
last_modified = file_stats.st_mtime

# Convert the timestamp to a readable format
last_modified_str = datetime.fromtimestamp(last_modified).strftime("%Y-%m-%d %H:%M:%S")

In [5]:
last_modified_str

'2023-12-25 15:43:42'

In [6]:
file_stats.st_size

22440040

In [19]:
df = pd.read_csv("../tmp/tmp_out_cnn/k1000_gk100_nn1000_n10.csv")

df = df.sample(100)

In [24]:
df = df[['paper_id', 'query']]
df.reset_index(inplace=True)
df.head()

,index,paper_id,query
0,901,https://www.cnn.com/2016/06/04/sport/best-quot...,find news written by < hilarywhiteman > about ...
1,60,https://www.cnn.com/2015/06/08/politics/barack...,find news related to < barack-obama > written ...
2,767,https://www.cnn.com/2019/10/13/sport/simone-bi...,find news written by < kevindotson and amywood...
3,876,https://www.cnn.com/2017/03/27/europe/northern...,find news published on < 2017-03-27 > around t...
4,752,https://www.cnn.com/2012/09/11/world/europe/sp...,find news written by < fromalgoodman > around ...

In [27]:
res_dict = df.to_dict('index')

# res_dict

In [18]:
a = {0: None, 1: None}
b = {0: [1, 2], 1:[1,2]}

In [34]:
workloads = "../data/cnn_workloads/"

workload_folder = Path(workloads)
for f in workload_folder.iterdir():
    print(f)
    break

../data/cnn_workloads/nn1000_n10.csv

In [37]:
f.name.replace(".csv", ".json")

'nn1000_n10.json'